.card{
margin:25px 55px;
padding:15px;
border-radius: 10%;
overflow: auto;

}
.proimage{
    width:200px;
    height: 150px;
    padding:3px;
    border-radius: 10%;
}
.btn{
  padding: relative;
}
.btn-group{
  position: absolute;
  bottom:-15px;
  left: -20px;
}
.text-muted{
  position: absolute;
  bottom: 8px;
  right: 16px;
}
#pro-header{
  padding: 5% 3% 0%;
  text-align: center;
  margin:auto;
}
h4 {
font-family: Mistral;
color: rgba(45,51,83,0.8);
  }
  small{
 font-family: Mistral;
 color: rgba(45,51,83,0.8);
   }
