body {
  height: 100%;
}

body {
 display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url('../image/back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.logo{
  display: block;
  border-radius: 100%;
  margin:auto;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 5%;
  margin: auto;
}

.form-signup {
  width: 100%;
  max-width: 330px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 5%;
  padding: 15px;
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 12px;
}
.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 12px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  opacity: 0.6;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  opacity: 0.6;

}

.form-signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
   opacity: 0.6;
}
.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
 background-color:#ffffff ;
  opacity: 0.6;
}



.form-signup input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
   opacity: 0.6;
  }
