<%- include('header') -%>
<link rel="stylesheet" href="css\my-pro-style.css">
<%- include('nav')  -%>

<!-- header   -->
<section id="pro-header">
<h4>category name</h4>
</section>
<!--end header-->

<!--product-->
<section id="product">
    <div class="row">
      <!-- product card  -->


        <!-- product card  -->

        <div class="card  col-lg-2 col-md-4" style="width: 18rem;">
        <img src="image\product.png" class="proimage">
        <div class="body-card">
          <h4>product name</h4>
          <div class="btn d-flex justify-content-between align-items-center">
              <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" >View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to <i class="fas fa-cart-arrow-down"></i></button>
              </div>
              <small class="text-muted">Price</small>
          </div>
        </div>
        </div>
        <!--end of card-->
          <!-- product card  -->

          <div class="card  col-lg-2 col-md-4" style="width: 18rem;">
          <img src="image\product.png" class="proimage">
          <div class="body-card">
            <h4>product name</h4>
            <div class="btn d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to <i class="fas fa-cart-arrow-down"></i></button>
                </div>
                <small class="text-muted">Price</small>
            </div>
          </div>
          </div>
          <!--end of card-->
            <!-- product card  -->

            <div class="card  col-lg-2 col-md-4" style="width: 18rem;">
            <img src="image\product.png" class="proimage">
            <div class="body-card">
              <h4>product name</h4>
              <div class="btn d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to <i class="fas fa-cart-arrow-down"></i></button>
                  </div>
                  <small class="text-muted">Price</small>
              </div>
            </div>
            </div>
            <!--end of card-->
              <!-- product card  -->

              <div class="card  col-lg-2 col-md-4" style="width: 18rem;">
              <img src="image\product.png" class="proimage">
              <div class="body-card">
                <h4>product name</h4>
                <div class="btn d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to <i class="fas fa-cart-arrow-down"></i></button>
                    </div>
                    <small class="text-muted">Price</small>
                </div>
              </div>
              </div>
              <!--end of card-->
                <!-- product card  -->

                <div class="card  col-lg-2 col-md-4" style="width: 18rem;">
                <img src="image\product.png" class="proimage">
                <div class="body-card">
                  <h4>product name</h4>
                  <div class="btn d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to <i class="fas fa-cart-arrow-down"></i></button>
                      </div>
                      <small class="text-muted">Price</small>
                  </div>
                </div>
                </div>
                <!--end of card-->
                  <!-- product card  -->
                  <div class="card  col-lg-2 col-md-4" style="width: 18rem;">
                  <div class="body-card">
                    <img src="image\product.png" class="proimage">
                    <h4>product name</h4>
                    <div class="btn d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Add to <i class="fas fa-cart-arrow-down"></i></button>
                        </div>
                        <small class="text-muted">Price</small>
                    </div>
                  </div>
                  </div>
                  <!--end of card-->
    </div><!--row-->
</section>
<!--end product-->
<!--UP ArroW-->
<div class="uparrow">
<i class="icon fas fa-arrow-circle-up fa-3x"></i>
</div>

<%- include('footer')  -%>
